header {
   // display:none;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   // border:1px solid red;
   height:100vh;
   z-index: 1;
   transition:height 1s ease-in-out;
   h1 {
      // display:none;
      transition:all 1s;
   }
   .start {
      background:none;
      text-transform: uppercase;
      border:1px solid black;
      border-radius:20px;
      padding:10px 15px;
      margin:15px 0;
      &:hover {
         color:white;
         background:rgba(219,148,156,0.5);
         border:1px dotted $accent;
      }
   }
}

header.fixed {
   height:10vh;
   h1 {
      font-size:4.5rem;
      color:$accent;
      text-shadow:1px 1px 1px darken($primary, 50%);
   }
}

button {
   transition:all 0.5s ease-in-out;
}