header {
   // display:none;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   // border:1px solid red;
   height:100vh;
   z-index: 1;
   transition:height 1s ease-in-out;
   .start {
      background:$translight;
      text-transform: uppercase;
      border:1px solid black;
      border-radius:30px;
      padding:10px 20px;
      margin:15px 0;
      &:hover {
         color:white;
         background:$accentlight;
         border:1px dotted $accent;
         transform:scale(1.1);
      }
   }
}

header.fixed {
   height:10vh;
   h1 {
      font-size:8.25rem;
      text-shadow:1px 1px 1px darken($primary, 50%);
      color:$accentlight;
      @include breakPoint(firstBreak) {
         font-size:7.25rem;
      }
      @include breakPoint(thirdBreak) {
         font-size: 6rem;
      }
      @include breakPoint(thirdBreak) {
         // font-size:5.8rem;
      }
   }
}

button {
   transition:all 0.5s ease-in-out;
}