.wrapper {
   width: 84%;
   margin:0 auto;
   text-align:center;
   display:grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   // border:1px solid green;
}

fieldset {
   width:100%;
   // display:flex;
   // align-items:center;
   // display:grid;
   // flex-direction:row;
   border:none;
   padding:0;
   ul {
      display:flex;
      flex-flow:row wrap;
      list-style:none;
      // border:1px solid red;
      padding:0;
      li {
         // border:1px solid purple;
         // width:50%;
         padding:20px 50px;
      }
      input[type=radio]{
         display:none;
      }
      label {
         border-top:1px dotted $primary;
         border-bottom:1px dotted $primary;
         background:rgba(255,255,255,0.3);
         width:50%;
         &:hover {
            background:rgba(0,0,0,0.3);
            color:$soft;
         }
         &:active {
            background:linear-gradient(to left, rgba(219,148,156,0.3) 10%, transparent);
         }
      }
   }
}

label.selected {
   // background:linear-gradient(to left, rgba(219,148,156,0.3) 10%, transparent);
   border-bottom:1px solid $soft;
   border-top:1px solid $soft;
   color:$soft;
}

// SET-1

fieldset{
   label:nth-child(odd).selected {
      background:linear-gradient(to left, rgba(219,148,156,0.3) 10%, transparent);
      // background:yellow;
   }
   label:nth-child(even).selected {
      background:linear-gradient(to right, rgba(219,148,156,0.3) 10%, transparent);
   }

}


.head-question {
   display:flex;
   // border:1px solid cyan;
   height:auto;
   align-items:center;
   justify-content: space-between;
}

form {
   span {
      font-weight:900;
      text-shadow: 1px 1px $soft;
      opacity:0.7;
      text-transform: uppercase;
      font-size:4rem;
   }
}

// ASIDE BACKGROUND STYlES

aside {
   // border:1px solid red;
   background:url(../assets/hair-wide.png) no-repeat;
   background-size:cover;
   background-position: bottom;
   position: fixed;
   top:0;
   bottom:0;
   right:0;
   left:0;
   // width:90%;
   height:100vh;
   z-index:-1;
   margin:0 auto;
   // overflow: hidden;
}

.gradient-hair {
   top:-10%;
   right:7%;
}