.wrapper {
   // width: 100%;
   margin:0;
   text-align:center;
   display:grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr 1fr;
}

label.selected {
   border-bottom:1.5px solid #9FB3DF;
}

fieldset {
   // display:flex;
   // align-items:center;
   // display:grid;
   // flex-direction:row;
   // margin:2%;
   // border:1px solid red;
   position:relative;
   padding-top:50px;
   ul {
      display:flex;
      list-style:none;
      li {
         margin:20px;
      }
      input[type=radio] {
         display:none;
      }
      label {
         padding:10px 10px 5px;
         border-radius:5px;
         &:hover {
            border-bottom:1.5px solid #9FB3DF;
         }
      }
   }
}

.head-question {
   display:flex;
   border:1px solid cyan;
   height:auto;
}

h3 {
   // position:absolute;
   font-size:3.5rem;
   opacity:0.5;
   text-transform: uppercase;
   margin:0;
   top:0;
   left:0;
   border:1px solid red;
}

form p {
   border:1px solid green;
   // margin:0;
}

aside {
   position: fixed;
   top:0;
   right:0;
   width:18vw;
   height:100vh;
   z-index:-1;
   // overflow: hidden;
}

.gradient-hair {
   top:-10%;
   right:7%;
}