article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

* {
  margin: 0; }

body {
  background: url(../assets/hairbrownbg.png) no-repeat;
  background-size: cover;
  background-position: center;
  color: #1d1d1d;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem; }
  @media (max-width: 750px) {
    body {
      font-size: 1.8rem; } }
  @media (max-width: 600px) {
    body {
      font-size: 1.6rem;
      grid-template-rows: 0.5fr 6fr; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  -webkit-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out; }
  header .start {
    background: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0; }
    header .start:hover {
      color: white;
      background: #BBD2FF;
      border: 1px dotted #97AAD1;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

header.fixed {
  height: 10vh; }
  @media (max-width: 750px) {
    header.fixed {
      height: 20vh; } }
  @media (max-width: 600px) {
    header.fixed {
      height: 10vh; } }
  header.fixed h1 {
    font-size: 8.25rem;
    text-shadow: 1px 1px 1px black;
    color: #BBD2FF; }
    @media (max-width: 1300px) {
      header.fixed h1 {
        font-size: 7.25rem; } }
    @media (max-width: 1090px) {
      header.fixed h1 {
        font-size: 6rem; } }
    @media (max-width: 900px) {
      header.fixed h1 {
        font-size: 5rem; } }
    @media (max-width: 750px) {
      header.fixed h1 {
        font-size: 4rem; } }
    @media (max-width: 600px) {
      header.fixed h1 {
        font-size: 3rem; } }
    @media (max-width: 450px) {
      header.fixed h1 {
        font-size: 2rem; } }

.wrapper {
  width: 83%;
  margin: 0 auto;
  text-align: center; }

main {
  letter-spacing: 1px; }

form span {
  font-weight: 900;
  text-shadow: 1px 1px #000;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }
  @media (max-width: 1240px) {
    form span {
      font-size: 3.5rem; } }
  @media (max-width: 1090px) {
    form span {
      font-size: 3rem; } }
  @media (max-width: 600px) {
    form span {
      text-align: center;
      font-size: 2rem; } }

fieldset {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0 auto; }
  fieldset ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    width: 100%; }
    fieldset ul li {
      padding: 20px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    fieldset ul input[type=radio] {
      display: none; }
    fieldset ul label {
      border-top: 1px dotted #6D6D6D;
      border-bottom: 1px dotted #6D6D6D;
      background: rgba(255, 255, 255, 0.3);
      width: calc(100% / 2);
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media (max-width: 600px) {
        fieldset ul label {
          width: 100%; } }
  fieldset label.selected {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff; }
  fieldset .ref-next, fieldset .sub-ref {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase; }
    fieldset .ref-next label, fieldset .sub-ref label {
      width: 50%;
      background: #97AAD1; }
      fieldset .ref-next label:first-child, fieldset .sub-ref label:first-child {
        border-right: 1px solid #fff; }
      fieldset .ref-next label:active, fieldset .sub-ref label:active {
        background: black; }
    fieldset .ref-next .rn-button:hover, fieldset .sub-ref .rn-button:hover {
      background: none;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000; }
    fieldset .ref-next .next, fieldset .ref-next .refresh, fieldset .sub-ref .next, fieldset .sub-ref .refresh {
      color: #fff;
      background: none;
      border: none; }
      fieldset .ref-next .next:hover, fieldset .ref-next .refresh:hover, fieldset .sub-ref .next:hover, fieldset .sub-ref .refresh:hover {
        color: #000; }

fieldset label:hover:not(.rn-button) {
  background: rgba(0, 0, 0, 0.3);
  color: #fff; }

fieldset label.selected:not(.rn-button) {
  background: black; }

@media (max-width: 600px) {
  .set-1 label li {
    padding: 12px; } }

.set-1 label:nth-child(odd), .set-5 label:nth-child(odd) {
  border-right: 1px solid #000; }
  @media (max-width: 600px) {
    .set-1 label:nth-child(odd), .set-5 label:nth-child(odd) {
      border-right: none; } }

.set-2 label:nth-child(even), .set-3 label:nth-child(even), .set-4 label:nth-child(even) {
  border-right: 1px solid #000;
  border-left: 1px solid #000; }
  @media (max-width: 600px) {
    .set-2 label:nth-child(even), .set-3 label:nth-child(even), .set-4 label:nth-child(even) {
      border-right: none;
      border-left: none; } }

.set-2 label, .set-3 label, .set-4 label {
  width: calc(100% / 3); }
  @media (max-width: 600px) {
    .set-2 label, .set-3 label, .set-4 label {
      width: 100%; } }

.head-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #97AAD1;
  padding: 0 5px; }
  @media (max-width: 900px) {
    .head-question {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; } }

input[type="submit"] {
  width: 100%;
  border: none;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  input[type="submit"]:hover {
    background: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #000; }

.results {
  background: orange; }

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0; }
  footer nav {
    position: absolute;
    bottom: 0;
    right: 0; }
  footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 5rem; }
    @media (max-width: 600px) {
      footer ul li {
        display: inline-block; } }
    footer ul li a {
      margin: 0 5px;
      color: #000; }
      footer ul li a:hover {
        color: #BBD2FF; }
  footer article {
    width: 50%;
    font-size: 1.5rem;
    line-height: 1.5;
    background: #BBD2FF;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2; }
    @media (max-width: 600px) {
      footer article {
        width: 100%;
        right: 0;
        left: 0; } }
    footer article .tap {
      font-style: italic;
      font-size: 1.3rem; }

.footernote {
  position: fixed;
  bottom: 0;
  background: #97AAD1;
  font-size: 1.4rem;
  padding: 10px;
  width: 175px;
  z-index: 3; }
  .footernote span {
    font-weight: 600; }

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 5.5rem;
  margin: 0 10px;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  @media (max-width: 900px) {
    h1 {
      text-align: center;
      font-size: 5rem; } }
  @media (max-width: 600px) {
    h1 {
      font-size: 4rem; } }

h2 {
  background: #97AAD1;
  color: #fff;
  width: 100%;
  font-size: 4rem;
  font-weight: 200;
  padding: 10px; }
  @media (max-width: 450px) {
    h2 {
      font-size: 3rem; } }

h3 {
  font-weight: 300;
  font-size: 5rem;
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  text-align-last: left; }
  @media (max-width: 1300px) {
    h3 {
      font-size: 4.5rem; } }
  @media (max-width: 1090px) {
    h3 {
      font-size: 4rem; } }
  @media (max-width: 600px) {
    h3 {
      font-size: 2rem; } }

button {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
