@import "../partials/_setup.scss";
@import "../partials/_utils.scss";

html {
   font-size:62.5%;
}
* { 
   margin:0;
}

body {
   background:url(../assets/hairbrownbg.png) no-repeat;
   background-size:cover;
   background-position:center;
   color:#1d1d1d;
   height:100vh;
   display:grid;
   grid-template-rows:1fr 6fr;
   font-family: 'Source Sans Pro', sans-serif;
   font-size:2.5rem;
   @include breakPoint(fifth-break) {
      font-size:1.8rem;
   }
   @include breakPoint(sixth-break) {
      font-size:1.6rem;
      grid-template-rows:0.5fr 6fr;
   }
   @include breakPoint(bigting)
}

@import "../partials/_header.scss";
@import "../partials/_main.scss";
@import "../partials/_footer.scss";

h1 {
   // border:1px solid red;
   font-family: 'Playfair Display', serif;
   font-weight:900;
   font-size:5.5rem;
   margin:0 10px;
   color:$dark;
   text-shadow: 1px 1px 1px $soft;
   transition:all 1s;
   @include breakPoint(fourth-break) {
      text-align: center;
      font-size:5rem;
   }
   @include breakPoint(sixth-break) {
      font-size:4rem;
   }
}


h2 {
   background:$accent;
   color:$soft;
   width:100%;
   font-size:4rem;
   font-weight:200;
   padding:10px;
   @include breakPoint(seventh-break) {
      font-size:3rem;
   }
}

h3 {
   // border:1px solid red;
   font-weight:300;
   font-size:5rem;
   text-transform: uppercase;
   flex: 0 1 50%;
   text-align-last: left;
   @include breakPoint(first-break) {
      font-size:4.5rem;
   }
   @include breakPoint(third-break) {
         font-size:4rem;
      }
   @include breakPoint(sixth-break) {
      font-size:2rem;
   }  
}

button {
   transition:all 0.5s ease-in-out;
}